@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Html
@using Web_interfaces.Filters
@using Web_interfaces.Paging
@using Web_interfaces.Data
@using System.Linq
@using Microsoft.AspNetCore.Html
@using System.Data

@using Microsoft.AspNetCore.Html



@using System.Linq


@using System.Data
@model  Web_interfaces.Paging.BooksListViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Document</title>
    <link type="text/css" href="~/css/style.css" rel="stylesheet" />
    <script src="~/js/script.js"> </script>
    

</head>
<body>
    <div class="header">
        <h1>Book Finder</h1>
        <ul class="top-menu">
            <li><a href="/?page=1">Home Page</a></li>
            <li><a href="">About us</a></li>
            <li><a href="/Home/cart">Shoping cart<img src="/css/shopping_cart.png"></a></li>
        </ul>
        <ul class="registrButtons">
            <li ><a href="/Home/login">Login</a></li>
            <li><a href="/Home/registration">Sign Up</a></li>
        </ul>
    </div>






    <div class="title"><h1>Find your book!</h1></div>
    <form id="OptionsForm" method="POST">
        <h1>Select book options</h1>
     
        <label class="bookOptions" for="genre-input">Enter the book`s genre: <br></label>
        <input type="text" id="genre-input" name="genre" placeholder="Historical prose">

        <label class="bookOptions" for="title-input">Enter the book`s title: <br></label>
        <input type="text" id="title-input" name="title" placeholder="Ivanhoe">

        <label class="bookOptions" for="author-input">Enter the book`s author: <br></label>
        <input type="text" id="author-input" name="author" placeholder="Walter Scott">

        <label class="bookOptions" for="pages-input">Enter the book`s price: <br></label>

        <div class="bookOptionsRange">
            <div id="minPrice">0</div>
            <div class=range>
                <div class="slider-track"></div>
                <input type="range" min="0" max="50" value="0" id="PriceSlider-1" name="minprice" oninput="slideOne(0)">
                <input type="range" min="0" max="50" value="50" id="PriceSlider-2" name="maxprice" oninput="slideTwo(0)">
            </div>
            <div id="maxPrice">50</div>
        </div>

        <label class="bookOptions" for="pages-input">Enter amount of book`s pages: <br></label>
        <div class="bookOptionsRange">
            <div id="minPages">0</div>
            <div class=range>
                <div class="slider-track"></div>
                <input type="range" min="0" max="300" value="0" id="PagesSlider-1" name="minpages" oninput="slideOne(1)">
                <input type="range" min="0" max="300" value="300" id="PagesSlider-2" name="maxpages" oninput="slideTwo(1)">
            </div>
            <div id="maxPages">50</div>
        </div>
        <label class="bookOptions" for="year-input">Enter the year of publication:<br></label>
        <input type="number" id="year-input" name="year" placeholder="2005" min="0" max="2023">
        <button id="FindButton" type="submit">FIND</button>
    </form>
    <div id="BookList">
        <ul class="Books">

            @{
                string i="";
                List<Book> a = new List<Book> ();
            }
            @foreach (var p in Model.Books)
            {
                a.Add(p);
               
                 
                }



                

                 @try
            {
                string sc = "Image/" + @a[0].BookId + ".jpg";

                <li>
                    <div class="BookImage"><img src=@sc></div>
                    <div class="BookName">
                         @a[0].Price $ | <a href="#" id="add-to-cart">add to cart</a>

                        <script>
                            $(document).ready(function () {
                                $("#add-to-cart").click(function (e) {
                                    e.preventDefault();
                                    $.ajax({
                                        type: "GET",
                                        url: "/Home/Edit/"+@a[0].BookId,
                                        success: function (data) {
                                            console.log("Action executed successfully");
                                        }
                                    });
                                });
                            });
                        </script>


                    </div>

                </li>

            }
            catch
            {

            }
            
            @try
            {
                i = a[1].Title;
                string sc = "Image/" + @a[1].BookId + ".jpg";
                
                <li>
                    <div class="BookImage"><img src= @sc ></div>
                    <div class="BookName">

                         @a[1].Price $ | <a href="#" id="add-to-cart1">add to cart</a>

                        <script>
                            $(document).ready(function () {
                                $("#add-to-cart1").click(function (e) {
                                    e.preventDefault();
                                    $.ajax({
                                        type: "GET",
                                        url: "/Home/Edit/" + @a[1].BookId,
                                        success: function (data) {
                                            console.log("Action executed successfully");
                                        }
                                    });
                                });
                            });
                        </script>
                    </div>
                </li>

            }
            catch
            {

            }

            @try
            {
                i = a[2].Title;
                string sc = "Image/" + @a[2].BookId + ".jpg";
                
                <li>
                    <div class="BookImage"><img src= @sc ></div>
                    <div class="BookName">

                         @a[2].Price $ | <a href="#" id="add-to-cart2">add to cart</a>

                        <script>
                            $(document).ready(function () {
                                $("#add-to-cart2").click(function (e) {
                                    e.preventDefault();
                                    $.ajax({
                                        type: "GET",
                                        url: "/Home/Edit/" + @a[2].BookId,
                                        success: function (data) {
                                            console.log("Action executed successfully");
                                        }
                                    });
                                });
                            });
                        </script>
                    </div>
                </li>

            }
            catch
            {

            }
          
           
        </ul>
        <ul class="Books">
            @try
            {
                i = a[3].Title;
                string sc = "Image/" + @a[3].BookId + ".jpg";

                <li>
                    <div class="BookImage"><img src=@sc></div>
                    <div class="BookName">

                         @a[3].Price $ | <a href="#" id="add-to-cart3">add to cart</a>

                        <script>
                            $(document).ready(function () {
                                $("#add-to-cart3").click(function (e) {
                                    e.preventDefault();
                                    $.ajax({
                                        type: "GET",
                                        url: "/Home/Edit/" + @a[3].BookId,
                                        success: function (data) {
                                            console.log("Action executed successfully");
                                        }
                                    });
                                });
                            });
                        </script>
                    </div>
                </li>

            }
            catch
            {

            }
            @try
            {
                i = a[4].Title;
                string sc = "Image/" + @a[4].BookId + ".jpg";
                
                <li>
                    <div class="BookImage"><img src= @sc ></div>
                    <div class="BookName">

                         @a[4].Price $ | <a href="#" id="add-to-cart4">add to cart</a>

                        <script>
                            $(document).ready(function () {
                                $("#add-to-cart4").click(function (e) {
                                    e.preventDefault();
                                    $.ajax({
                                        type: "GET",
                                        url: "/Home/Edit/" + @a[4].BookId,
                                        success: function (data) {
                                            console.log("Action executed successfully");
                                        }
                                    });
                                });
                            });
                        </script>
                    </div>
                </li>
            }
            catch
            {

            }
            @try
            {
                i = a[5].Title;
                string sc = "Image/" + @a[5].BookId + ".jpg";
                
                <li>
                    <div class="BookImage"><img src= @sc ></div>
                    <div class="BookName">

                         @a[5].Price $ | <a href="#" id="add-to-cart5">add to cart</a>

                        <script>
                            $(document).ready(function () {
                                $("#add-to-cart5").click(function (e) {
                                    e.preventDefault();
                                    $.ajax({
                                        type: "GET",
                                        url: "/Home/Edit/" + @a[5].BookId,
                                        success: function (data) {
                                            console.log("Action executed successfully");
                                        }
                                    });
                                });
                            });
                        </script>
                     
                    </div>
                </li>

            }
            catch
            {

            }
            
            
            
            




        </ul>
        <ul id="pageButtons">
            <div class="btn-group pull-left">
            @{
                IHtmlContent html = new HtmlString("");

                            @PagingHelpers.PageLinks( html,Model.PagingInfo, x => Url.Action("Index", new { page = x }))
            }
                </div>
           
        </ul>

    </div>

    <div class="footer">
        <img src="/css/icon.png">
        <ul class="down-menu">
            <li>Home Page</li>
            <li>About Us</li>
            <li>Donate for project</li>
        </ul>
        <p>&copy; Copyright 2023. All Rights Reserved.</p>
        <ul class="down-info">
            <li>Mykolaiv, Ukraine</li>
            <li style="text-decoration: underline;">bookfinder@gmail.com</li>
            <li>+01 234 567 89 | +09 876 543 21</li>
        </ul>
    </div>
   
</body>
</html>